* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

.weather-app {
  display: flex;
  width: 100vw;
}

.sidebar {
  background-color: #233d4d;
  color: white;
  height: 100%;
  min-height: 100vh;
  padding: 1.5rem;
  text-align: center;
  width: 100%;
}

input {
  margin: 2rem 0 4rem;
}

.sidebar h2 {
  font-weight: 300;
}

.temp {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 1rem 0;
}

.weather {
  font-size: 1.5rem;
}

.charts {
  height: 100vh;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

canvas {
  margin: 4rem 0;
}